[2016-01-26 15:01] og2t opened #1 "Outdated example"
Hi Tiberiu,

The example uses `configureStore` from the `store` but it's not defined there.
[code]

Can you post an example how to configure Firebase URL, since I am getting this error:

`Uncaught Error: FIREBASE FATAL ERROR: Cannot parse Firebase url. Please use https://<YOUR FIREBASE>.firebaseio.com`

Thanks!

[2016-01-26 19:42] tiberiuc commented on #1
the example is not outdated , configureStore it is the default export from the store

[code]

just being renamed as configureStore

the error you have is because the firebase cannot connect to your database as you didn't changed the URL for that ( you still use https://YOUR FIREBASE.firebaseio.com )

so you need to go to store.js in line 9 and use your own Firebase URL

Let me know if you need mor

[2016-01-27 15:06] og2t commented on #1
You're right. Thanks for clarification!

[2016-01-27 15:06] #1 closed

[2016-02-21 14:41] RahavLussato opened #2 "connect stop working with minified bundle"
you can delete this one it was issue on my configuration

[2016-02-21 18:06] tiberiuc commented on #2
sure, no problem , can you tell me what config issue was, maybe I can include it in the docs to be more clear

[2016-02-22 16:26] RahavLussato commented on #2
oh it was my fault :blush: , i forgot to add "reduxReactFirebase" to store on create store on my all envs.
(did it only for dev)

[2016-02-24 11:46] tiberiuc commented on #2
thank you very much for clarifying

[2016-02-24 11:46] #2 closed

[2016-02-24 16:13] RahavLussato opened #3 "fetch data once without listen"
hi i saw in the docs that this one is In the future (Firebase queries),
do you have any estimation for this one ?
after i tried couple of packages of react and firebase integration i can say that your's package is
the most efficient one because its include redux in perfect way, but fetching data is basic feature that is missing.

[2016-02-24 20:02] tiberiuc commented on #3
thank you for the interest of this package, no I don't have a time estimate as  I still figure it out how to implement it.
about queries one of the ideas I like is something like that

[code]

I would like to use `?` instead `#` but `?` it is a valid key character.
do you think something like that will work for you or if you have any other idea I'm open to take them in consideration

about fetchin

[2016-02-27 05:44] mmahalwy opened #4 "query with the decorator?"
is there a way to query? for example, first 5.

[2016-02-28 13:00] tiberiuc commented on #4
not yet , but that is a work in progress

[2016-02-28 14:43] RahavLussato commented on #3
hi thanks for the fast replay,
for queries its looks like yours suggestion is the best one,
for fetching i think it should be done from function and not from decorator because you want the ability to call it from different places for example in events.

[2016-02-28 16:23] tiberiuc commented on #3
you already have access to that, first you need to use the firebase decorator, that will add firebase as a prop to your component

[code]

then you need to get firebase from the props

[code]

and then you will have `firebase.ref` which is the root reference in your firebase and you can do anything you want with it like

[code]

is that what you need ?

[2016-02-28 16:24] RahavLussato commented on #3
this one solve the fetch i needed Thanks :+1:
now only missing the queries part

[2016-02-28 16:27] tiberiuc commented on #4
that is a work in progress, I don't have a time estimate right now but hope to do it very soon as it is one of the most requested feature and I also need it in one of my projects

[2016-02-28 16:28] tiberiuc commented on #3
I also responded about that in a different issue #4  and I will do it soon as I also need it in one of my projects

[2016-02-28 16:39] RahavLussato commented on #3
:+1:  thanks

[2016-03-04 03:22] jonathandion opened #5 "Can't get my firebase data."
Hi, I can't get my data from firebase using @connect. Also I'm using react router to pass my params.

There is my code :

`@firebase( [
  'fishes'
])
@connect(
  (state, props) => ({
    fishes: dataToJS(state.firebase, `/${props.params.storeId}/fishes`)
  })
)`

props.params.storeId is equal to 'itchy-drab-leaves' from the url.

My firebase url look like this : https://fishes-store.firebaseio.com

[2016-03-04 13:23] tiberiuc commented on #5
so you are trying to get /fishes from firebase ( that is what `@firebase(['fishes'])` is doing )
but from the store you are trying to get /${storedId}/fishes ( different path )

I can't see your database but I think the code should be like this

[code]

[2016-03-05 13:11] jonathandion commented on #5
Hey I tried your solution and I still receive `undefined`.

There is all my info
- Name of my Firebase : FISHES-STORE
- url : https://fishes-store.firebaseio.com/
- Screenshot preview [here](https://www.dropbox.com/s/2xs9utrlqcs0v3z/Screen%20Shot%202016-03-05%20at%208.20.00%20AM.png?dl=0)

**App.js**

[code]

**Fishes.js**

[code]

Before I was using [re-base](https://github.com/tylermcginnis/re-b

[2016-03-08 12:40] RahavLussato commented on #3
i started to so some changes to support minimal queries, you can see my changes here: PR #6

[2016-03-09 20:45] tiberiuc commented on #4
just added queries support  thanks to @RahavLussato
orderByChild
limitToFirst
limitToLast
startAt
endAt

ex
[code]

[2016-03-09 20:46] #4 closed

[2016-03-09 20:46] tiberiuc commented on #4
thanks to @RahavLussato
orderByChild
limitToFirst
limitToLast
startAt
endAt

ex

[code]

[2016-03-09 20:47] tiberiuc commented on #3
thank you very much, I merged your PR #6  and released a new version

[2016-03-09 20:48] #3 closed

[2016-03-09 20:50] tiberiuc commented on #5
I can't reproduce it m can you make a simple example which reproduce it and I can run it on my computer to debug it ?

[2016-04-15 11:47] #5 closed

[2016-04-15 17:34] stigmat4j opened #13 "child_remove listening"
[code]

this code not working. "Invalid path"
I need child_remove listening

[2016-04-17 13:05] RahavLussato commented on #13
Hi,
you need to do something like this :

[code]

and for remove listening you can use : this.props.firebase.unWatchEvent.

Invalid path means that either you didn't login before with firebase.login() or you misspelled your path.

[2016-04-24 22:36] wordyallen opened #14 "Could you give me feedback on my previous solution?"
It was a basic Firebase middleware:
[code]

[2016-04-25 07:07] RahavLussato commented on #14
this way every action (not only fb) will be catch by this middleware, and you using only update method.
you don't have the full functionality like queries, listening to real events ....

if the reason for working like that is only for update fb on every CRUD operation, please change the if to be opt-in and not opt-out (maybe by using some CRUD actions convention) and add error handling to that.

a

[2016-04-25 14:36] wordyallen commented on #14
thanks

[2016-04-25 14:36] #14 closed

[2016-05-18 13:57] TrySpace opened #15 "Docs unclear/suggestion"
Going into this, I thought this was going to be similar to `redux-storage-engine-localstorage`, which is my fault, but perhaps partially the documentations'.

I'm curious why there are no dispatchers used, at least not in the user's code, only in the `src`. The code-example omits the fact that direct calls to Firebase are made, and then changes would come back to the `store` which works, but I don

[2016-05-19 00:18] dcworldwide commented on #15
I've just read through the examples..

This was one of the first things I picked up on as well. Firebase should be abstracted from the component as much as possible. So hiding firebase query / mutation logic from components makes sense to me.

[2016-05-19 09:07] RahavLussato commented on #13
@tiberiuc i think you can close this since @stigmat4j didn't response

[2016-05-19 09:12] RahavLussato commented on #15
@TrySpace as i see it and if i understood @tiberiuc correct the main idea behind this lib is to have the ability to get realtime data from firebase, the other direction options as update/insert data to firebase was not on the main scope so @tiberiuc opened this options by give you the ability to call directly to firebase.

i agree with you that have "the other direction" as middleware instead of c

[2016-05-19 13:31] TrySpace commented on #15
I would suggest having a few default actions in this lib to mutate data like:

[code]

Or maybe it's better to have to build your **own, more specific** actions like:

[code]

And have a more central place to define all the paths and its different purposes, sort of like a model/schema definition like swagger or I forgot the other one.

Anyways, this is something that might evolve from this hopeful

[2016-05-20 23:43] starim opened #16 "How to log a user in when testing?"
I'm trying to test a component whose layout changes depending on whether a user is logged in. My Mocha tests looks like this:

[code]

I'm not really sure how to log a user in during test setup. First I tried to just set the user profile by initializing the store with a profile in place:

[code]

but when the component under test rendered, the profile data was gone. Looks like it gets reset.

Then

[2016-06-01 09:33] #13 closed

[2016-06-01 15:45] tiberiuc commented on #15
@Tryspace, thank you very much for suggestions. As  @RahavLussato said , the main scope of that library was to get realtime data from firebase. To mutate data you don't need actions as you can do it like this:

[code]

that will save data into database and will auto trigger the child_changed and update your store. This is running pretty fast as firebase library also have a cache implemented so the

[2016-06-01 16:25] tiberiuc commented on #16
Hi ,

If I correctly understand this is what you need:

[code]

basicaly you tell the lib to auto fetch the profile user when somebody login . Data will be get from `/users/<userId>` and will be placed into the store in `firebase.profile`

if you keep your user profile in a different place in your database you can configure that in userProfile

let me know if that is what you need

[2016-06-01 19:14] ghost commented on #16
Well, I was hoping there would be a way to set user data in the store directly without going out to Firebase, just to keep the unit tests as lightweight as possible. But if it's necessary to do user setup in Firebase then I can implement that.

[2016-06-01 20:45] tiberiuc commented on #16
Actually you can do it if you want for testing

try to dispatch a message like that:

[code]

of course you can create an action for that if you want

there are some other stuff you can do like LOGIN:

[code]

or LOGOUT

[code]

or LOGIN ERROR

[code]

see the actions.js and constants.js for more details

let me know how that work

[2016-06-01 22:52] ghost commented on #16
Ah, perfect! That's exactly what I was trying to implement.

[2016-06-02 07:44] tiberiuc commented on #16
excellent, I will close this issue

[2016-06-02 07:44] #16 closed

[2016-06-04 04:03] prescottprue opened #17 "Firebase v3"
#### Feature Request: v3 of Firebase Library

I was having problems connecting to new Firebase instances using the old v2.4.x library. Any thoughts on switching to the new API soon?

Have done a few full apps with V3 and redux, so I am willing to help. Let me know if you agree, and I will work on making a PR.

[2016-06-04 04:05] prescottprue commented on #17
Apologies, just noticed this was in the feature list. Is there a branch where any current progress is going on?

[2016-06-04 04:05] #17 closed

[2016-06-04 09:18] prescottprue opened #18 "Issue when bunding with webpack"
I got the following errors when trying to use with webpack. I tried using both `noParse` as well as setting an alias to both the source folder and the build folder.

![screen shot 2016-06-04 at 2 16 17 am](https://cloud.githubusercontent.com/assets/2992224/15798794/8cb83dc6-29fa-11e6-9e2c-98e709de83f9.png)

I was able to get it working by installing `bluebird` and `immutable` into my project, but

[2016-06-05 10:39] RahavLussato commented on #18
@prescottprue  which npm version you use ?
i see that immutable is listed as peer dependency so you must to install that (in the newer versions of npm peer dependencies is not installed automatically), you also need to install bluebird.
@tiberiuc we need to add bluebird as peer dependency.

[2016-06-06 14:19] tiberiuc commented on #18
thank you  @RahavLussato
I also added bluebird as peer dependency

[2016-06-06 14:23] tiberiuc commented on #18
as @RahavLussato said you need to install immutable and bluebird

[code]

[2016-06-06 14:23] #18 closed

[2016-06-08 15:31] prescottprue commented on #18
Yeah, installing is what I had to do to fix it, but figured it should be included as a dep.

Thanks for making it a peer dependency @tiberiuc.

[2016-06-11 23:41] vladtar opened #19 "Advanced use question"
Hi,

Thank you for creating this package. I have enjoyed using it so far.

There is a scenario I'm trying that I'm having trouble with. I have a component that requires an array of items for a specific user that comes from firebase. The list of item keys is listed under the user in firebase, so my initial watch looks something like:
[code]
which gives me the list of item keys for that user. I then

[2016-06-12 12:13] TrySpace opened #20 "ES6/7 Decorator alternative"
I see in the example (https://github.com/tiberiuc/redux-react-firebase/blob/master/example/App.js)

    @firebase()

and then later:

[code]

I'm not sure why this happens twice, and what the decorator does exactly, and what the alternative would be with ES5.

Also, the comment `// if list too large you can use  ['/todos']` I don't understand what this means, can you elaborate? (there is no differ

[2016-06-12 12:38] tiberiuc commented on #20
first version

[code]

it is the equivalent for `firebase.ref.child('/todos').on('value', ..... )` that mean it will listen for value and each time a todo will change it will fetch the entire /todos tree as a single value. The problem is when you have a lot of todos, firebase have a limit of 10mb / node

while

[code]

it is the equivalent for

[code]

and it will fetch each todo item one by one a

[2016-06-12 12:41] TrySpace commented on #20
How can I avoid the `@` decorator? Should I bind it with `.on` manually? And what should the `callback` do?
Or is there another way like:

`@firebase(['/todos']).bind(this)`

But maybe I'm misunderstanding the decorator.

Also, I still don't understand the usage of `@firebase()` in the example, is it necessary to initialize the thing? Because after it is used again, but then with `['todos']`...

[2016-06-12 12:44] tiberiuc commented on #19
you are right, when props get changed firebase events don't re-trigger which is a bug, I will try to fix it as soon as possible as I already encountered in one of my projects

[2016-06-12 12:47] TrySpace opened #21 "this.props.firebase undefined, this.props.store.firebase is not."
When I follow the example as close as possible, I'm stuck when I try to define:

`{ firebase } = this.props`

From exampe: https://github.com/tiberiuc/redux-react-firebase/blob/master/example/App.js

My component has no `this.props.firebase`, it does have `this.props.store.firebase`

My reducer (reducers/index):

[code]

I assume that's where `this.props.store.firebase` comes from.
Then in the fil

[2016-06-12 13:33] vladtar commented on #19
Awesome. Thank you. Go Romania!!

[2016-06-13 14:01] tiberiuc commented on #21
to be able to access `this.props.firebase` you need to use @firebase() before connect just like that

[code]

that will add firebase object to your props so you don;t need to access the context ( the decorator is doing that for you )

the firebase object contains set, push , remove functions  and here is how are they defined:

[code]

if you want to access the original root firebase you can use `f

[2016-06-13 15:09] TrySpace commented on #21
How would I do this without the decorator?
Mainly because right now I can't convert code to es6 yet and I want to understand what the decorator does.

[2016-06-13 15:21] tiberiuc commented on #21
here is where it is defined

https://github.com/tiberiuc/redux-react-firebase/blob/master/source/connect.js

line 65

basically what is does it is creating another component wrapping current component and add some functionality to it. First it will add firebase object into props ( line 103 ) then passed on the defined paths will add the necessary events ( line 88 and 89 ) and when the component wi

[2016-06-14 08:38] sedubois opened #22 "Unmet peer dependencies"
I have a package.json with `firebase@3.0.4`, `bluebird@3.4.0`. When installing `redux-react-firebase`, it complains that these peer dependencies aren't met (expecting lower versions). Will it be updated to support latest libraries?

[2016-06-14 12:10] RahavLussato commented on #22
you can see on the readme on "In the future" section :
`Add support for new Firebase version ( lib ver 3.x )`

[2016-06-14 20:06] sedubois commented on #22
OK, thanks

[2016-06-14 20:06] #22 closed

[2016-06-16 08:14] prescottprue commented on #20
+1 This would be good for those who don't want to include decorators.

[2016-06-19 20:28] mmoutenot opened #23 "Update to Firebase 3.x.x"
Sad that the API has significant changes, but so things go. I've been using [re-base](https://github.com/tylermcginnis/re-base) but I love to play with your library. Do you have a plan for update?

[2016-06-22 23:11] prescottprue commented on #23
+1 especially on using re-base in the meantime

It seems like @tiberiuc is planning on including this in the future, but hasn't stated when. I am currently working on this, and am hoping to make a PR within the next 2-3 weeks.

[2016-07-05 14:58] brandonmikeska opened #26 "Redux Dev Tools"
Will this work with redux dev tools and redux-react-router?

[2016-07-05 18:31] tiberiuc commented on #26
sure it is working, I'm already using in a couple of projects

[2016-07-05 18:31] #26 closed

[2016-07-05 20:38] brandonmikeska commented on #26
My bad, does it work out of the box or is it passed in the options param when configuring the store?

[2016-07-06 10:30] tiberiuc commented on #26
redux-react-firebase it is only for connecting firebase if you need redux dev tools or react-redux-router you need to add them to your store as you normally do

[2016-07-06 16:54] prescottprue commented on #23
[My Fork](https://github.com/prescottprue/redux-react-firebase) Currently works on v3.x.x. Still working out some final kinks before creating a PR here. @mmoutenot Care to give it a try and see what works/doesn't work for you? That way we can provide a completely working version for merging.

[2016-07-06 16:55] mrshll commented on #23
Yep. I've been using the core functionality for a few weeks now. I'll try
to cover more this weekend
On Wed, Jul 6, 2016 at 12:54 PM Scott notifications@github.com wrote:

[2016-07-08 15:02] prescottprue commented on #23
@mmoutenot I created a PR, but thinking of getting another library name on npm to publish to in the meantime in case @tiberiuc doesn't want to move to v3+ of Firebase.

[2016-07-21 13:50] prescottprue commented on #23
I was informed that the original creator of this library is going to be busy for the next little while. Here is my thoughts, which I also [posted to redux-firebase](https://github.com/colbyr/redux-firebase/issues/2).

## Current Libraries
- [redux-react-firebase](https://github.com/tiberiuc/redux-react-firebase) - Current defacto solution but owner is busy for a few months
- [firedux](https://gith

[2016-07-21 14:31] mrshll commented on #23
@prescottprue used it a lot yesterday - hopefully you saw some of my changes. Many are unimportant and me getting it to work with react-native. Others are crucial like auth fixes and the database ref.

Great research on all of these repos. I will look more at firedux tonight! I agree, and am down to team up with you on whatever we pick as the best one to move forward with. Tired of npm install'ing

[2016-07-21 19:43] prescottprue commented on #23
@mmoutenot +1 on the installing from the fork. My fork doesn't include the source code either, so I have had to build it locally and `npm link`.

The changes you made to my fork are great, thanks! Contacted the other library owners to see if they are interested in combining as well. I think that the best overall name would be redux-firebase, but that namespace seems to be the oldest of all the lib

[2016-07-25 22:06] prescottprue commented on #23
Created [redux-firebasev3](https://github.com/prescottprue/redux-firebasev3) to make this available on npm for now.

[2016-09-15 16:41] tiberiuc commented on #23
Hi everyone, sorry for being off that much time due to some family problems, it is great to see new projects raising for my project.

I am interested to add data mapping for this project and also interested in merging them in one project if everyone it is interested

@prescottprue I totally agree redux-firebase it is the best name for this project and having so many different projects will get peo

[2016-09-15 16:44] mrshll commented on #23
Never apologize for time away for an open source project! Hope everything is well and glad you're back.

`redux-firebasev3` has been good to me so far, and I'm happy to help with future changes. What is the data mapping you are referring to?

[2016-09-15 18:34] prescottprue commented on #23
@tiberiuc I agree with @mmoutenot, never apologize for time off! Stoked to know that you are on into the idea of combining libraries. I have seen at least 10+ libraries that all seem to solve this same need.

Created a [redux-firebase gitter](https://gitter.im/redux-firebase/Lobby?utm_source=share-link&utm_medium=link&utm_campaign=share-link) so we can keep these discussions going. Everyone is wel

[2016-09-17 20:45] #23 closed

[2016-09-17 21:03] #19 closed

[2016-09-17 21:04] #21 closed

[2016-09-18 05:39] markmur opened #29 "FirebaseConnect: type specification of context `store` is invalid"
Looks like the `store` is not being set correctly in the FirebaseConnect contextTypes (`source/connect.js` Line 123). Getting this error:

[code]

Expecting:
[code]

Instead of Line 123:
[code]

Testing with React@15.3.1

[2016-09-18 05:45] markmur commented on #29
Solved locally by uncommenting line 73 of `connect.js`

[code]

and commenting out Line 123.

[2016-09-18 07:14] #29 closed

[2016-09-18 07:15] tiberiuc commented on #29
thank you, I updated your changes into the branch

[2016-09-19 23:17] prescottprue commented on #20
@TrySpace [the simple example of redux-firebasev3](https://github.com/prescottprue/redux-firebasev3/blob/master/examples/simple/src/App.js#L59-L67) shows implementing without decorators where [the decorators example](https://github.com/prescottprue/redux-firebasev3/blob/master/examples/decorators/src/App.js#L12-L18) (interface is the same as this library)

Simple comparison:

#### With Decorators

[2016-10-02 07:06] simonrozsival opened #31 "Logout erases all data"
When the user logs out of the app, **all** the data is removed by the reducer. This does not work for me and I think this behaviour isn't really that convenient for other purposes. I want some of the data to remain in the state and I cannot think of a good way of achieving that.

[2016-10-03 19:38] tiberiuc commented on #31
currently there is no way to achieve that, but I think we can implement that into the library.

Do you have any suggestion ?

[2016-10-04 01:27] seanseany opened #32 "How to catch errors on Login?"
firebase.login() does not seem to change the redux state of `authError`. How do I know if the user has inputted an invalid username / password?

[2016-10-04 01:29] 0xs34n commented on #32
By the way, I am trying to follow the provided example

[code]

It seems like authError acts as a listener, but when I try it myself, `authError` is always null

[2016-10-06 17:22] simonrozsival commented on #31
Well I would suggest to add a parameter to the logout action, which would tell which parts of the tree to preserve and which to remove... To make it backwards compatible, an array (default value - empty array) of paths, which would remain untouched, would be passed as a parameter. I will try to make a pull request tomorrow.

[2016-10-08 19:03] tiberiuc commented on #32
authError should be set only when there is a problem on login ( like user and or password are incorrect ).

I will look myself to see if there is a bug

[2016-10-08 19:03] tiberiuc commented on #31
thank you for your pull request

[2016-10-08 19:03] #31 closed

[2016-10-08 19:04] tiberiuc commented on #20
thank you @prescottprue  for your example

[2016-10-08 19:04] #20 closed

[2016-10-11 09:27] davestevens commented on #32
This should be resolved in 2.3.1 https://github.com/tiberiuc/redux-react-firebase/releases/tag/2.3.1

[2016-10-11 12:55] #32 closed

[2016-10-26 18:28] pcardune opened #36 "`reduxReactFirebase` function does not pass through `enhancer` argument of `createStore`"
Per the [redux docs for createStore](http://redux.js.org/docs/api/createStore.html), you can pass in an optional third argument for `createStore`, which is commonly used to apply middlewares. Following the example in the README, this doesn't work as expected because `reduxReactFirebase` only returns a `createStore` function that accepts two arguments.

For example, when using the [thunk middleware

[2016-11-05 15:24] d-winter commented on #36
Any plans when this will be fixed?
Shouldn't it be a simple addition within the compose.js?:

[code]

to

[code]

[2016-11-06 20:24] tiberiuc commented on #36
Can you create a pull request please

[2016-11-07 22:12] EQuimper opened #38 "firebase.intializeApp()"
I follow all your setup and got `firebase.intializeApp()`. Look like the app don't initialize.

My Store

[code]

My Reducer

[code]

![image](https://cloud.githubusercontent.com/assets/15819498/20078192/93ad34b8-a50d-11e6-8f0e-4c9711574a7b.png)

[2016-11-10 22:48] walkerrandolphsmith commented on #38
[code]

Does this work for you @EQuimper?

[2016-11-12 02:14] EQuimper commented on #38
@walkerrandolphsmith I got it my config was bad passed sorry for this bad issue ;( was my fault.

[2016-11-12 02:14] #38 closed

[2016-12-04 11:24] gazpachu opened #39 "_reduxReactFirebase.firebase.storage is not a function(…)"
How can I access the `storage` using the `redux-react-firebase` object? With the original firebase NPM works fine.

I'm trying like this: `let imgRef = firebase.storage().child('posts/' + post.slug + '.jpg');`

Thanks

[2016-12-06 10:35] tiberiuc commented on #39
currently you can't, but I will try to add this or you can make a PR

[2016-12-15 19:24] fscottfoti opened #41 "orderByChild parses to int"
Hi guys -

First off great work - I'm finding the library to be super useful.

I do notice that you force values to ints [here](https://github.com/tiberiuc/redux-react-firebase/blob/6af415509239450e75407805fa87c39e771581b0/source/actions.js#L139).  When I to an orderByChild("something").equalTo("someString") is doesn't work - I mean the children are strings even though in some cases the strings do

[2016-12-17 08:17] Domiii opened #42 "Rationale behind `data` path?"
From the beginning this confused me a bit: For some reason, this library (and I think I also saw it in other libraries) gave special significance to the `/data` path, specifically by offering the [`dataToJS` convenience helper function](https://github.com/tiberiuc/redux-react-firebase/blob/master/API.md#datatojsimmutabledata-pathasstring-notsetvalue). From what I understand, the `/data` path has n

[2016-12-17 10:24] RahavLussato commented on #42
DataToJS is not related to /data path on firebase, its just a way to get snapshot.val() directly, if you need to iterate over your snapshot by some order you did with query you'll not use that and do snapshot.foreach, if not its nicer to get the data directly.

[2016-12-17 10:36] Domiii commented on #42
@RahavLussato It specifically states in [the API description](https://github.com/tiberiuc/redux-react-firebase/blob/master/API.md#datatojsimmutabledata-pathasstring-notsetvalue) (and it is an accurate description of [the code](https://github.com/tiberiuc/redux-react-firebase/blob/master/source/helpers.js#L27)):

It is the same as `pathToJS` but restricted to the `/data` path. So I am wondering: Wh

[2016-12-17 10:54] Domiii opened #43 "Support multiple apps"
Currently, the [`reduxReactFirebase` call](https://github.com/tiberiuc/redux-react-firebase/blob/master/source/compose.js) is very opinionated on how to use `firebase`, it attaches itself to the `store` as `firebase` and, in addition, also attaches itself to the global `firebase` module. That is bad style, and makes it entirely monolithic.

As explained in [the official documentation](https://fire

[2016-12-17 11:38] RahavLussato commented on #42
The /data that mentioned is related to the internal state of redux where the data is stored not to the path of firebase

[2016-12-17 11:40] RahavLussato commented on #39
@tiberiuc my pr #40 is solving that.

[2016-12-17 12:21] RahavLussato commented on #43
I didn't understand what you suggest.
This lib is attached to firebase.database on the initialization and also give you access to the rest options by giving you the original firebase object.

If you want to do hacks of seperate the same app to multiple projects for not paying its not something that we need to support. Its breaks the idea of one project for one app/environment.
I don't familiar wir

[2016-12-17 12:25] RahavLussato commented on #41
Hi, i wrote the parsing part.
I did it because when i used that and gave the decorator string that is originally int on firebase.
I understand what you say and flag as you suggested will solve your issue.
Can you submit a new PR that will not break the current behavior by using default params ?

[2016-12-17 12:28] RahavLussato commented on #15
@tiberiuc if i not mistake the docs changed from the time @TrySpace wrote this issue.
Can you close this ?

[2016-12-17 14:01] Domiii commented on #43
Multi-project apps is a basic feature [supported and advertised by `firebase` officially](https://firebase.google.com/docs/web/setup#initialize_multiple_apps). This is neither hacking nor illegal nor is it unwelcome. For many of its products, Google tends to offer limitations per account, however the number of accounts is unlimited. That applies to Firebase, just like it does to Gmail and Drive. I

[2016-12-17 15:31] RahavLussato commented on #43
Now after i saw the officially docs I understand you. Its not a common usage but it's something that can be too. It would be great if you can submit a PR for that.

[2016-12-17 15:36] mike623 opened #44 "react native support"
I am try to integrate with React Native but got error
![img_1815](https://cloud.githubusercontent.com/assets/14008281/21287948/a262a01a-c4b1-11e6-9045-2f85aabd2ead.PNG)

[2016-12-17 17:10] Domiii commented on #43
I'll see where I can find the time :D

[2016-12-17 17:29] fscottfoti commented on #41
Yes, I'll take a look.

[2016-12-17 18:15] RahavLussato commented on #44
I think that currently the library is not support react native.

[2016-12-20 04:44] fscottfoti commented on #41
I actually found a workaround on my end (changed type to int!) so probably don't need to fix this in the short term.  I will close for now.

[2016-12-20 04:44] #41 closed

[2016-12-20 21:51] kelmouja opened #45 "Authentication does not work for me"
First, thank you for this library, very useful!

I'm trying to implement Email/Password login based on the example provided in AppWithAuth.js. I created a dedicated component Login.js (see code below) and I'm not using decorator pattern so I changed the code a bit.

The issue is that I always get a 'auth/network-request-failed' error code. There is no corresponding network request. I did some digg

[2016-12-22 19:44] kelmouja commented on #45
Seems to be working now - maybe an issue on Firebase's side.

[2016-12-22 19:44] #45 closed

[2016-12-24 13:59] #15 closed

[2016-12-26 19:52] RahavLussato commented on #39
@tiberiuc you can close this after you merged my PR

[2016-12-26 19:53] RahavLussato commented on #42
@Domiii can @tiberiuc close this ?

[2016-12-27 13:01] gazpachu commented on #39
@RahavLussato I've installed the latest version 2.3.5 (which includes your PR), but it doesn't seem to fix it completely. Is this change supposed to fix it? https://github.com/tiberiuc/redux-react-firebase/pull/40/commits/5d5669212cf4cd73962d66d343e3b5a88c5144ff#diff-a4200fc012ab1991422a051d08eeaf5d

Now I have this error:

`TypeError: firebase.storage(...).child is not a function`

And this is th

[2016-12-27 14:02] RahavLussato commented on #39
@gazpachu its because the child function is not on storage is on storageref you need to change your code to something like:

[code]

https://firebase.google.com/docs/storage/web/create-reference

[2016-12-27 15:03] gazpachu commented on #39
@RahavLussato thanks! it worked :)

[2016-12-27 15:04] RahavLussato commented on #39
@tiberiuc you can close this

[2016-12-29 04:24] Domiii commented on #42
Ok thank you.

[2016-12-29 04:33] Domiii opened #48 "Why was oauth support removed?"
Despite the fact that [on the 1.x branch](https://github.com/tiberiuc/redux-react-firebase/tree/1.x), all authentication methods were supported, [the current version](https://github.com/tiberiuc/redux-react-firebase/blob/b0b8e1792e50fd186735b95db8a3a13f025fba9a/source/actions.js#L278) only provides `signInWithEmailAndPassword`.

Seems like quite a big step backward :/

I am guessing, you guys coul

[2016-12-30 08:59] gazpachu opened #49 "[Question] How to fetch a single resource item based on its field value"
In my firebase database I have a `pages` resource, which takes care of storing the data for the static pages of my app. It looks like this:

<img width="526" alt="screen shot 2016-12-30 at 09 58 14" src="https://cloud.githubusercontent.com/assets/1721288/21562115/11cd9ea0-ce76-11e6-87f3-c2db3eb7476e.png">

As you can see, I have a `slug` attribute, which I intend to match with the browser URL to r

[2016-12-30 14:36] RahavLussato commented on #48
I agree with you @Domiii can you make PR for that ?

[2016-12-30 14:40] RahavLussato commented on #49
@gazpachu
you can use queries for that : equalTo/startAt/endAt
it depends on your case

[code]

[2016-12-30 15:18] gazpachu commented on #49
Thanks @RahavLussato.

This seems to work:

[code]

Now I also get a Warning: `FIREBASE WARNING: Using an unspecified index. Consider adding ".indexOn": "slug" at /pages to your security rules for better performance `

Is there a way to fix that warning?

[2016-12-30 15:26] RahavLussato commented on #49
@gazpachu you can add index on firebase console on rules tab.
the warning is not related to our lib, its from firebase.

@tiberiuc please close that.

[2016-12-30 15:32] gazpachu commented on #49
Cool, I didn't know the correct way to update it in the rules. This is how it seems to work:

[code]

[2016-12-30 15:44] gazpachu commented on #49
Another related question before this gets closed. What's the best practice (**and safest way**) to access `this.props.location.pathname` inside the firebase decorator? I was using this in the constructor to get the slug:

[code]

How can I put that inside the firebase decorator? My aim is to get the last bit from the browser URL to send it as a slug to firebase:

[code]

[2016-12-30 16:25] gazpachu commented on #49
I fixed it without using `this.props`, although I'm not sure this is very safe... `pages#orderByChild=slug&equalTo=${window.location.href.substr(window.location.href.lastIndexOf('/') + 1)}`

but it would be nice to know how to do it with `this.props`

[2016-12-30 17:26] RahavLussato commented on #49
@gazpachu i think it's better to use props,
You can write a function that will get the url from props and will do the split stuff, and then put the function inside the decorator.

[2016-12-31 08:55] Domiii commented on #48
On which branch?

[2016-12-31 09:03] Domiii opened #50 "dataToJS only works for explicitely defined paths"
Assuming I have:

[code]

and I have an object `/quizzes/abc` in the database,

then:

`dataToJS(firebase, '/quizzes/abc')`

will return undefined.

However:

`dataToJS(firebase, '/quizzes/').abc`

works.

I would assume that `dataToJS` works for any paths, no?

I would assume this is because you are not actually converting nested Firebase data into `immutables`. I absolutely agree that this is a

[2016-12-31 10:05] RahavLussato commented on #50
@domiii dataToJs searching is working only on the path you listen on, the change that you can't liten with it deeper then that is becayse my PR, it's because we inject "data" key on the listen path and search for it on dataToJs, this give us the ability to have multiple listeners on same sub tree of firebase without overriding one each other when component will unmount and clean the state. If you

[2016-12-31 10:06] RahavLussato commented on #48
@domiii make it on your fork and then make pr to master and @tiberiuc will check that.

[2017-01-02 22:47] gazpachu opened #51 "[Question] How to make subsequent firebase requests with values received from a previous request?"
Hi there,

I'm having some difficulties trying to make queries a bit more complex than the ones explained in the API docs and I was wondering if the library can handle those scenarios and perhaps I'm missing something.

My target is to request for all the `files, subjects, levels and users` associated to a specific `course`. At the moment, due to the querying difficulties, I have to download `ever

[2017-01-03 12:43] RahavLussato commented on #51
@gazpachu you can do that, instead of checking for example `props.course` inside the `equalTo` please use a function that will get props and return the whole listen path so you'll be able to not include `equalTo` at all in case of undefined.

[2017-01-03 12:44] RahavLussato commented on #50
@Domiii is this worked for you ?

[2017-01-03 12:44] RahavLussato commented on #49
@gazpachu can we close this ?

[2017-01-03 13:37] gazpachu commented on #49
Yes @RahavLussato thanks

[2017-01-03 13:37] #49 closed

[2017-01-03 15:38] RahavLussato commented on #42
close #42

[2017-01-03 17:24] Domiii commented on #50
I am saying that this should be covered in the docs, and ideally in the samples! Hah :)

Tbh, the current state of the library is far from production (or maybe I'm just a bit too stupid). But I also need to admit that I was fairly new to React, Redux and Firebase, just the whole toolchain, so that woujld explain it!

I guess, the library is great for simple stuff and given you are already fairly f

[2017-01-03 17:40] RahavLussato commented on #50
@Domiii i agree with you about the docs, they far from being good, and most of it is because of me, i'm doing changes without updating the docs.
i'm not agree with the part of the current state of the lib, i'm using it on production on more then one project and its working perfect, its also giving you ability to do stuff without special implementations more then the firebase SDK (look at my last P

[2017-01-04 13:41] RahavLussato commented on #41
#52

[2017-01-04 18:38] dunnock opened #53 "Plan to support react-redux@5"
Right now if I add latest react-redux to my project `yarn check` fails with error:
`error redux-react-firebase#react-redux@^4.0.6 doesn't satisfy found match of react-redux@5.0.1
`

I am on redux-react-firebase@2.4.0, please see my package.json enclosed.

[package.zip](https://github.com/tiberiuc/redux-react-firebase/files/685549/package.zip)

[2017-01-07 09:46] gazpachu opened #54 "User profile is undefined"
I'm following the auth example, but the user profile comes as `undefined`, although the `auth` object is fine:

[code]

[code]

I've also tried without the devTools stuff, but no luck

[2017-01-13 14:49] mauricekleine commented on #44
@mike623 @RahavLussato the pull request I just submitted should fix this problem #55

[2017-01-17 12:17] beckmeindia opened #56 "Using geoFire.js with redux-react-firebase"
Hi, I am using your repository for all functionalities with my app. But **geoFire** seems to be an integral part of my app and I am unable to understand how to use both in sync with redux.

Please suggest!

TIA

[2017-01-29 16:47] inoyakaigor commented on #53
I have same problem: latest versions of redux (5.0.1) and react-redux-firebase (2.5.1) incompatible

[2017-02-01 09:49] beckmeindia opened #57 "Using both state and { firebase } inside connect"
@firebase(....)
@connect( (state, { firebase }) => ({ home: state.get('home'), todos: dataToJS(firebase, '/todos') }) )
export default App extends Component{
.....
}

Can I use the repo like this? or @firebase is going to interfere with the state of @connect

[2017-02-05 20:29] cescoferraro opened #58 "server side rendering"

[2017-02-06 14:16] cescoferraro commented on #58
I get similar error when using re-base. If I `import * as Rebase from "re-base"` instead of `var Rebase = require("re-base")`
It somewhy import firebase-browser.js

[2017-02-18 20:18] webbushka commented on #57
@beckmeindia the firebase node is on state, so you could do
[code]

or

[code]

[2017-02-18 20:20] webbushka commented on #54
@gazpachu I was having this same problem, looking at the source for `reduxReactFirebase` it only accepts one object. If you merge the firebase config with `{ userProfile: 'users' }` then it works.

[2017-03-06 20:09] rpeterson commented on #36
PR submitted for this.

[2017-03-07 20:30] tiberiuc commented on #36
thank you, PR merged

[2017-03-07 20:30] #36 closed

[2017-04-20 06:05] webbushka opened #61 "Accessing PropTypes via the main React package is deprecated"
As of React v15.5 `React.PropTypes` has been deprecated. See https://facebook.github.io/react/warnings/dont-call-proptypes.html for more information

[2017-04-20 08:05] #61 closed

[2017-04-22 14:58] #42 closed

[2017-04-28 14:45] Domiii opened #63 "doNotParse: Undocumented, often unwanted behavior"
For some reason, `equalTo` query arguments sometimes get parsed as integers, even if they are not integers, leading to troublesome side-effects.

I used `orderByChild` in combination with `equalTo` on user ids, sending me on a two-hour bug hunt where the query worked for some users and not work for others; only to find out that for this query combination, [the `equalTo` handler in actions.js](http

[2017-05-02 17:41] Sonberg opened #66 "Action not updating state-object"
<img width="944" alt="skarmavbild 2017-05-02 kl 19 38 32" src="https://cloud.githubusercontent.com/assets/11244968/25630920/07cc11de-2f6f-11e7-837a-d7a12cd98dab.png">

<img width="636" alt="skarmavbild 2017-05-02 kl 19 40 28" src="https://cloud.githubusercontent.com/assets/11244968/25631007/4d702f90-2f6f-11e7-9b68-fee9efd9bc5f.png">
<img width="1129" alt="skarmavbild 2017-05-02 kl 19 40 51" src="h

[2017-05-08 15:41] vladimir-fsh opened #68 "Sorting doesn't work"
I have a structure like that
<img width="709" alt="screenshot 2017-05-08 17 34 19" src="https://cloud.githubusercontent.com/assets/17701600/25811801/b26b77b6-3414-11e7-973e-a38280e8ce04.png">

Defined ```@firebase(['/chats#orderByChild=timestamp'])``` and my data doesn't sort, but that works if I tried to do it directly by firebase API

import firebase from 'firebase';
        const userMobilePath

[2017-05-13 17:52] #63 closed

[2017-05-16 14:25] #68 closed

[2017-05-20 15:37] Viral-Inc commented on #53
I'm just going to edit the package.json peerDependency to react-redux 5.0.4 and see if anything breaks

[2017-07-21 16:44] gazpachu commented on #39
@RahavLussato somehow, this stopped working: `this.storageRef = firebase.storage().ref();`

I'm getting now `TypeError: _reduxReactFirebase.firebase.storage is not a function`

[2017-07-23 07:04] RahavLussato commented on #39
@gazpachu try to get firebase from props `this.props.firebase` and don't forget to use the firebase decorator.

[2017-07-23 18:11] #39 closed

[2017-11-14 01:55] nijotz opened #73 "Rename or close repo"
SOOOOO many time my coworkers and I have confused this repo for the real one. GO AWAY 👎  I just spent a half hour reading the wrong docs. You owe me money 💰

[2017-11-14 07:50] tiberiuc commented on #73
With all the respect, this was the original repo and it was the first one. The repo you are referring to it was a clone of this one and it is using a similar name

[2017-11-14 07:50] #73 closed

[2017-11-14 20:32] nijotz commented on #73
All right, all right. I apologize tiberian. Cheers.

[2017-11-15 21:39] tiberiuc commented on #73
it is ok, no problem, it is also my fault, I should write I don’t update this repo and people should also look on the other one which is more updated. I promise I will do that

[2017-11-16 19:08] nijotz commented on #73
🍝

[2018-10-18 00:33] Eli1bamboo opened #80 "Support to handle persisted auth state"
I'm trying to switch google accounts but the persisted state is always stuck on the same account. The logout method does effectivle log out the the authed user but it does not clear the persisted state.

Firebase documentation ref:
https://firebase.google.com/docs/auth/web/auth-state-persistence?hl=en-419

thanks in advance !

[2018-10-18 22:34] #80 closed